
:root {
    /* Original Palette */
    --dark-green: rgb(40, 113, 81);
    --beige: #c8d5b9;
    --selection-color: #06bce14d;

    /* Additional colors */
    --white: #faf3dd;
    --light-gray: #adb5bd;
    --khaki-hover: #dfb959;

    /* Others */
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


* {
    font-family: 'Raleway', sans-serif;
}


.text-dark-green {
    color: var(--dark-green);
}
.t-white {
    color: white;
}

.bg-dark-green{
    background-color: var(--dark-green);
}

.btn-dark-green {
    color: #fff;
    background-color: var(--dark-green);
}
.btn-dark-green:hover {
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    background-color: #fff;
}



/* TODO: Da cambiare */
::selection {
    background-color: var(--selection-color);
}