:root {

    /* Original Palette */
    --dark-gray: #264653;
    --light-green: #2a9d8f;
    --khaki: #e9c46a;
    --sandy-brown: #f4a261;
    --coral: #e76f51;

    /* Additional colors */
    --white: #ffff;
    --light-gray: #adb5bd;
    --khaki-hover: #dfb959;

    /* Others */
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

::selection {
    background-color: #24837871;
}