
:root {
    /* Original Palette */
    --dark-green: #4a7c59;
    --greensea: #8fc0a9;
    --light-blue: #68b0ab;
    --beige: #c8d5b9;
    --selection-color: #06bce14d;

    /* Additional colors */
    --white: #faf3dd;
    --light-gray: #adb5bd;
    --khaki-hover: #dfb959;

    /* Others */
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


body {
    font-family: 'Raleway', sans-serif;
}

.text-beige {
    color: var(--beige);
}
.text-dark-green {
    color: var(--dark-green);
}

.bg-dark-green{
    background-color: var(--dark-green);
}
.bg-greensea{
    background-color: var(--greensea);
}
.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-beige{
    background-color: var(--beige);
}


/* TODO: Da cambiare */
::selection {
    background-color: var(--beige);
}