
html {
    scroll-behavior: smooth;
}


.account-container > .btn-beige:hover {
    color: var(--beige);
    border: 1px solid var(--beige);
}
.intro .btn-beige:hover{
    background-color: var(--dark-green);
}

.navbar-brand:hover {
    color: var(--beige);
}
.navbar-brand:focus {
    color: var(--beige);
}

/* Sottolineamento dinamico dei link */
.nav-link-header {
    background: 
        linear-gradient(currentColor 0 0) 
        7px 90% /var(--d, 0) 2px
      no-repeat;
    transition:0.5s;
  }
.nav-link-header:hover {
    color: var(--beige); 
    --d: 90%;
}


.highlighted-text { 
    text-shadow: 4px 3px 0px var(--beige), 9px 8px 0px rgba(0,0,0,0.15); 
}

.title {
    font-size: 5em;
}
.sentence {
    font-size: 3em;
}

.insegnanti {
    
}
.insegnanti .card-dimension {
    width: 18rem;
}