html {
    scroll-behavior: smooth;
}

.bg-img {
    background-image: url("../img/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255, 0.6);
    background-blend-mode: lighten;
}

.account-container > .btn-beige:hover {
    color: var(--beige);
    border: 1px solid var(--beige);
}
.navbar-brand:hover {
    color: var(--dark-green);
}

/* Sottolineamento dinamico dei link */
.nav-link-header {
    background: 
        linear-gradient(currentColor 0 0) 
        7px 90% /var(--d, 0) 2px
      no-repeat;
    transition:0.5s;
  }
.nav-link-header:hover {
    color: var(--dark-green); 
    --d: 90%;
}
.highlighted-text { 
    text-shadow: 4px 3px 0px var(--beige), 9px 8px 0px rgba(0,0,0,0.15); 
}

.title {
    font-size: 5em;
}

.contatti {
    padding: 10vh 0;
}

.insegnanti {
    
}
.insegnanti .card-dimension {
    width: 18rem;
}