
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #2a9d8f;
}

.container-login {
    padding: 50px;
    border-radius: 8px;
    background-color: white;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.container-login h2 {
    color: #264653;
    font-size: 3.0vmax;
}
.container-login input {
    font-size: 1.8vmin;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    width: 40vw;
    padding: 10px;
    background: transparent;
}
.container-login .submit-button {
    width: 50%;
}
.container-login .container-submit {
    text-align: center;
}
.container-login .container-submit input {
    background-color: #e9c46a;
    border: 1px solid #e9c46a;
}
.container-login .container-submit input:hover {
    background-color: #dfb959;
    border-color: #adb5bd;
}

::selection {
    background-color: #24837871;
}